<div class="container">
  <p id="notice"><%= notice %></p>
  
  <h1>Mostrando Comentarios</h1>
  
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Texto</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @comentarios.each do |comentario| %>
        <tr>
          <td><%= comentario.nombre %></td>
          <td><%= comentario.email %></td>
          <td><%= comentario.texto %></td>
          <td><%= link_to 'Show', comentario %></td>
          <td><%= link_to 'Edit', edit_comentario_path(comentario) %></td>
          <td><%= link_to 'Destroy', comentario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <br>
  
  <ul>
    <li><%= link_to 'Agregar Comentario', new_comentario_path %></li>
    <li><%= link_to "Inicio", controller: "inicio", action: "index" %></li>
  </ul>
</div>