<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @comentario.nombre %>
</p>

<p>
  <strong>Email:</strong>
  <%= @comentario.email %>
</p>

<p>
  <strong>Texto:</strong>
  <%= @comentario.texto %>
</p>

<%= link_to 'Edit', edit_comentario_path(@comentario) %> |
<%= link_to 'Back', comentarios_path %>
