<div class="container">
  <header class="row row-common row-1" id="row-bienvenido">
    <div class="col-md-12">
      <h1>Bienvenido</h1>
      <p>Este es un hola mundo, porque los Hola Mundo son realmente innovadores y únicos en su clase. Creo que jamás había visto un Hola Mundo hasta ahora, me siento único y especial.</p>
    </div>
  </header>
  
  <div class="row row-common row-2" id="row-comentarios">
    <div class="col-md-12">
      <h2 class="rotulo">Comentarios <span class="ayuda">(Mostrando 5 de <%= @count_comentarios.to_s %>)</span>:</h2>
  
      <div class="table-responsive">
        <table class="table table-stripped table-hover">
          <thead>
            <tr>
              <th class="columna nombre">Nombre</th>
              <th class="columna email">Email</th>
              <th class="columna texto">Texto</th>
              <th class="columna acciones" colspan="3"></th>
            </tr>
          </thead>
        
          <tbody>
            <% @comentarios.each do |comentario| %>
              <tr>
                <td><%= comentario.nombre %></td>
                <td><%= comentario.email %></td>
                <td><%= comentario.texto %></td>
                <td><%= link_to 'Mostrar', comentario %></td>
                <td><%= link_to 'Editar', edit_comentario_path(comentario) %></td>
                <td><%= link_to 'Eliminar <span class="glyphicon glyphicon-trash"></span>'.html_safe, comentario, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      
      <% if @count_comentarios > 1 %>
        <% @verbo_comentarios = "comentarios" %>
      <% else %>
        <% @verbo_comentarios = "comentario" %>
      <% end %>
      
      <%= link_to "Ver " + @count_comentarios.to_s + " " + @verbo_comentarios, { :controller => "comentarios", :action => "index" }, { :class => "btn btn-default"} %>
      
      <span class="clearfix"></span>
      <div class="comentario-new col-md-8 col-md-offset-2">
          <h3 class="rotulo">Dejar un comentario nuevo</h3>
          <%= render 'comentarios/form' %>
      </div>
      
    </div>
  </div>
</div>