// Place all the styles related to the inicio controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#row-bienvenido {}

#row-comentarios {background: #f0f0f0; margin-top: 1em;}
#row-comentarios .rotulo {font-size: 2em; font-weight: lighter;}
#row-comentarios .ayuda {font-size: .6em; font-style: italic;}

#row-comentarios .comentario-new {margin-top: 2em;}
#row-comentarios .comentario-new .rotulo {font-size: 1.5em;}